global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    option  redispatch
    retries 3

frontend loki_front
    bind *:3100
    default_backend loki_proxies

backend loki_proxies
    balance roundrobin
    option  httpchk GET /ready
    http-check expect status 200

    server proxy-a 172.28.0.10:3100 check inter 5s rise 2 fall 3
    server proxy-b 172.28.0.11:3100 check inter 5s rise 2 fall 3
    server proxy-c 172.28.0.12:3100 check inter 5s rise 2 fall 3
